body {
    /*background-color: #374B47;*/
    background-color: #111827;
    margin: 0;
}

.text {
    color: white;
}

.headers {
    font-family: "Oswald", serif;
}

.body-text {
    font-family: "Fredoka", serif;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
    
}

.title-name {
    font-size: clamp(100px, 20vh, 200px);
    margin-bottom: 30px;
    margin-top: 20px;
    line-height: 1;
}

.title-hello {
    font-size: clamp(40px, 8vh, 85px);
    margin-bottom: 10px;
    line-height: 1;
}

.title-body {
    font-size: clamp(20px, 3vh, 25px);
}

.title-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.title-text-container {
    width: 40%;
}


.title-pfp {
    aspect-ratio: 1/1;
    width: clamp(300px, 30%, 1000px);
    border-radius: 50%;
    padding: 10px;
    border: solid white 1px;
}

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding-bottom: 100px;
}

.projects-header {
    font-size: clamp(100px, 10vh, 150px);
}

.project-item-container {
    border-radius: 25px;
    padding: 20px;
    border: solid white 1px;
    width: 75%;
    background-color: #374151;
    transition: ease-in-out 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-title {
    font-size: clamp(30px, 10vh, 50px);
    margin-block-start: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.project-body {
    font-size: clamp(20px, 3vh, 25px);
    margin: 15px;
    margin-left: 20px;
}

.project-item-container:hover {
    transform: scale(1.1);
}

.project-pic {
    height: 250px;
    width: auto;
    margin: 15px;
}

.github-btn {
    height: clamp(30px, 10vh, 50px);
    font-family: "Oswald", serif;
    font-size: clamp(20px, 3vh, 25px);
    width: 20%;
    margin-left: 20px;
    min-width: 70px;
}

.project-item-text-container {
    display: flex;
    flex-direction: column;
}